name: Update

on:
  workflow_dispatch:

  schedule:
    - cron: 0 4 */3 * *

jobs:
  Smartdns-GFWList:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_TOKEN }}
      - name: Smartdns conf List
        run: |
          bash script/update.sh
      - name: Push
        id: list-push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Smartdns conf
          skip_dirty_check: false
          commit_user_name: Action Bot
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: Action <actions@github.com>
